<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Gear Closet</h1>

  <h2>
    An online tool to organize your gear.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
