<h1>Your Gear Closet</h1>

<%= link_to 'New Item', new_item_path %>

<table align="center">
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th>Category</th>
	</tr>

	<% @items.each do |item| %>
		<tr>
			<td><%= item.title %></td>
			<td><%= item.text %></td>
			<td><%= item.type %></td>
		</tr>
	<% end %>
</table>