/* mixins, variables, etc. */

$gc-orange: #ffb84d;

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	&:hover {
		color: $gc-orange;
		text-decoration: none;
	}
}
/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}
